@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
}

:root {
  --primary-color: #0c111f;
  --active-primary-color: #05080e;
}
body {
  font-family: "Poppins", sans-serif;
}

$primary-color: #0c111f; // slate-900
$secondary-color: #1c3f4d; // sky-900
$gray-color: #70737c; // slate-400

$light-gray-color: #6f717a; // slate-500
// teal-400 sepertinya
$teal-color: #07b3ae; // teal-400

.text-gray {
  color: $gray-color;
}

.text-light-gray {
  color: $light-gray-color;
}

.text-teal {
  color: $teal-color; //text-teal-400
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.bg-primary1 {
  background: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.outline-primary {
  outline-color: $primary-color;
}
